<div class="login-auth-page"> 
    <div class="login">
        <div class="header-wrapper">
            <h1>Bienvenido a Disfraces MZ</h1>
        </div>
        <div class="login-wrapper">
            <form class="login-form">
                <div class="form-group">
                    <label for="email">Correo electrónico:</label>
                </div>
                <div class="form-group">
                    <input formControlName="email" type="text" placeholder="Ingresa tu correo electrónico" class="form-input">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña:</label>
                </div>
                    <div class="form-group"> 
                        <input formControlName="password" type="password" placeholder="Ingresa tu contraseña" class="form-input">
                    </div>
                    <div class="form-action">
                        <button class="login-btn">Iniciar sesión</button>  
                    </div>
                    <div *ngIf="errorSession"> Ocurrió un error con tu Email o Password </div>
                <div class="account-form">
                    <h3>¿No tienes una cuenta?, crea una </h3>
                </div>
            </form>   
            
            <!-- <form (ngSubmit)="onSubmit()">
                <div>
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" [(ngModel)]="email" #ctrl="ngModel" required>
                </div>
                <button type="submit">Login</button>
              </form> -->
        </div>
    </div>

    
   
        <div class="logo">
            <img src="assets/images/Logo.png" alt="" class="cover">
        </div>
    
    
</div>